#drop-menu {
  @include flex(column, flex-start, flex-start);

  display: none;
  position: absolute;
  left: 0px;
  top: 50px;
  padding-bottom: 10px;

  width: 100%;
  z-index: 1;
  padding-top: 10px;
  background: #f7f7eb;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);

  a {
    @include flex(row, flex-start, center);

    height: 24px;
    width: 100%;
  }
}

@each $number, $item-color in $drop-menu-colors {
  #drop-menu a:nth-child(#{$number}):hover {
    background: $item-color;
    color: white;
  }
}
