footer{
   @include flex(row, center, flex-start);

   width: 100%;
   height: 300px;
   background: black;
}

.footer-content{
   @include flex(column, flex-start, flex-start);
   @extend %max-min-width;

   width: 100%;

   .partners{
      //990
      //padding: 0 137px 0px 137px;
      margin: 32px 0 54px 0;
      width: 100%;
      @include flex(row, space-around, center);

      a{  
         display: inline-block;
         text-indent: -99999px;
         vertical-align: middle;

         &:hover{
            opacity: .4;
         }
      }
   }
}

#oneplus{
   background: url(../images/media.png) no-repeat -6px -5px;
   width: 59px;
   height: 34px;
}

#tet{
   background: url(../images/media.png) no-repeat -5px -44px;
   width: 80px;
   height: 27px;
}

#twoplus{
   background: url(../images/media.png) no-repeat -5px -83px;
   width: 73px;
   height: 22px;
}

#plusplus{
   background: url(../images/media.png) no-repeat -5px -118px;
   width: 60px;
   height: 32px;
}

#int{
   background: url(../images/media.png) no-repeat -103px -5px;
   width: 61px;
   height: 31px;
}

#bigudi{
   background: url(../images/media.png) no-repeat -101px -43px;
   width: 63px;
   height: 47px;
}

#unian{
   background: url(../images/media.png) no-repeat -103px -98px;
   width: 66px;
   height: 43px;
}

#ovva{
   background: url(../images/media.png) no-repeat -5px -163px;
   width: 86px;
   height: 16px;
}

.slogan,
.copyright {
   @include flex(row, center, center);
   width: 100%;
}

.slogan{
   color: white;
   font-size: 48px;
   text-transform: uppercase;
   margin-bottom: 54px;
}

.copyright{
   margin-bottom: 23px;
   
   p{
      color: #333333;
      font-size: 14px;  
   }

   span{
      height: 1px;
      width: 35px;
      border-top: 1px solid #333333;
      margin:  0 10px 0px 10px;
   }
}
