.foto-wrap {
  @include flex(row, flex-start, flex-start);
  margin: 20px 0 0px 0px;

  //height: 598px;
  //position: absolute;
  width: 100%;
  background: black;
  // border: 1px solid yellow;
}

.foto-news-wrap {
  @extend %max-min-width;
  // @include flex(column, flex-start, flex-start);
  //border: 1px solid blue;
  //background: gray;
  max-width: 1400px;
  min-width: 990px;
  width: 100%;

  h3 {
    margin-top: 20px;
    color: white;
    font-weight: normal;
  }
}

.foto-news {
  height: 100%;
  //990
  //width: 62.5%;
  width: 700px; //
  //width: 700px;
  margin-left: 13px;

  .normal {
    width: 125px;
    height: 125px;

    &:hover .open-gallery {
      cursor: pointer;
      position: absolute;
      top: 105px;
      left: 105px;
    }

    }
  //}
  .doublewidth {
    width: 264px;
    height: 125px;

    &:hover .open-gallery {
      cursor: pointer;
      position: absolute;
     // top: 1px;
      left: 242px;
    }
  }
  .doubleheight {
    width: 125px;
    height: 264px;

    &:hover .open-gallery {
      cursor: pointer;
      position: absolute;
      left: 105px;
    }
  }
  .pull-top {
    margin-top: -132px;
  }
  .pull-left {
    margin-left: -132px;
  }

  //990
  //margin-left: 43px;
  margin-left: 13px; //-7
  //border: 1px solid red;

  article {
    //.normal{
    position: relative;
    //background: green;
    margin: 7px 7px 7px 7px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;

    &:hover .open-gallery {
      cursor: pointer;
      position: absolute;
      opacity: .95;
      top: 5px;
      left: 5px;
    }
    
    h5 {
      background: transparent;
    }
    &:hover h5 {
      span {
        cursor: pointer;
        position: absolute;
        color: white;
        background: red;
        padding: 9px 27px 9px 20px;
        top: 65%;
        left: 0;
      }
    }
  }
}
