.foto-wrap{
    @include flex(row, center, flex-start);
   height: 598px;
   //position: absolute;
   width: 100%;
   background:  black;
   //border: 1px solid black;
}


.foto-news{
   //background: gray;
   max-width: 1400px;
   min-width: 990px;
   width: 100%;
   height: 500px;
   display: flex;
   flex-direction: column;
}
