// .share {
//    @include icon('../images/share.svg', 50px, 50px);
//    fill: #fff;
// }
// .search{
//    @include icon('../images/search.svg', 50px, 50px);
//    fill: #fff;
// }

._PUW_BG_OPACITY {
  background-image: url("_PUW BG OPACITY.png");
  opacity: 0.949;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1400px;
  height: 2796px;
  z-index: 594;
}



.slider {
  height: 400px;
}


