* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

svg {
  fill: white;
}

h1 {
  font-weight: normal;
}

button {
  background: none;
  border: none;
}

html {
  overflow-x: hidden;
  font-family: $regular;
}

body {
  @include flex(column, flex-start, center);
}

.wrap {
  position: absolute;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;

  background: black;
  opacity: 1;
  z-index: 5;
}

header {
  @extend %max-min-width;
  @include flex(column, flex-start, center);

  width: 100%;
}

main {
  @include flex(column, flex-start, center);
  margin-top: 50px;
  width: 100%;

  .main-wrap {
    @extend %max-min-width;

    width: 100%;
  }
}
