.news-wrap {
  @include flex(column, flex-start, flex-start);

  width: 100%;
}

.news-menu {
  width: 61.5%;
  margin: 21px 0 0 50px;
  padding: 11px 0 11px 0;
  border-bottom: 1px solid #ccccb8;
  position: relative;

  &::after {
    width: 10px;
    height: 10px;
    content: '';
    display: block;
    position: absolute;
    left: 47.5px;
    bottom: -6px;
    background-color: #fff;
    border: 1px solid transparent;
    border-right-color: #ccccb8;
    border-bottom-color: #ccccb8;
    transform: rotate(45deg);
    transform-origin: 50%;
  }

  a {
    color: black;
    margin-right: 18px;

    &:hover {
      color: red;
    }
  }
}

.main-news {
  @include flex(column, flex-start, flex-start);

  z-index: 2;
  margin: 20px 0 20px 43px;
  width: 63%;
}

.bot-news {
  @include flex(row, space-between, stretch);

  width: 100%;
}

.top-news {
  @extend .bot-news;
  margin-bottom: 30px;
}

.news-card {
  @include flex(column, flex-start, flex-start);

  width: 100%;
  padding: 0 7px 0px 7px;
  padding-right: 14px;

  img {
    width: 100%;

    max-height: 190px;
    max-width: 280px;

    &:hover {
      opacity: .7;
    }
  }

  h4 {
    color: black;
    margin-top: 14px;

    font: {
      size: 16px;
      weight: normal;
    }
  }
}

.card-top {
  @include flex(column, flex-start, flex-start);

  width: 100%;
}

.card-bot {
  @include flex(row, space-between, flex-start);

  width: 100%;
  color: #bfbfbf;
  font-size: 14px;

  span {
    margin-right: 6px;
  }
}

.news-card-video {
  @include flex(row, flex-start, flex-start);

  position: relative;
  width: 100%;

  max-height: 190px;
  max-width: 280px;

  .play {
    cursor: pointer;
    position: absolute;
    top: 35%;
    left: 40%;
    opacity: 0.749;
  }

  .play-in-window {
    cursor: pointer;
    position: absolute;
    top: 88%;
    left: 91%;
  }
}

#video-window {
  display: none;

  video {
    height: 200px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 3;
    border: 1px solid black;
  }
}

.card-info {
  @include flex(row, flex-end, center);
  width: 80px;

  .reviews {
    font-size: 12px;

    svg {
      margin-right: 2px;
    }
  }

  .comments {
    margin-right: 8px;

    svg {
      position: relative;
      top: 1.5px;
    }
  }
}

@each $number, $item-color in $top-news-colors {
  .top-news a:nth-child(#{$number}) span {
    color: $item-color;
  }
}
@each $number, $item-color in $bot-news-colors {
  .bot-news a:nth-child(#{$number}) span {
    color: $item-color;
  }
}

.banner-wrap {
  @include flex(row, center, center);

  z-index: 2;
  margin: 20px 0 0 50px;
  width: 62.5%;

  iframe {
    width: 730px;
    height: 92px;
    border: 1px solid #b27f7f;
    border-radius: 5px;
    overflow: hidden;
  }
}