* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

svg {
  fill: white;
}

h1 {
  font-weight: normal;
}

button {
  background: none;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

html {
  overflow-x: hidden;
  font-family: $regular;
}

body {
  @include flex(column, flex-start, center);
}

.wrap {
  position: absolute;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;

  background: black;
  opacity: 1;//.5;
  z-index: 3;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  @extend %max-min-width;
  @include flex(column, flex-start, center);

  width: 100%;
}

main {
  @include flex(column, flex-start, flex-start);
  margin-top: 50px;
  width: 100%;
  //height: 120%;
  
  //bolsh
  //padding-bottom: 40px;

  padding-bottom: 45px;
  position: relative;


}

  .main-wrap {
    @extend %max-min-width;

    border: 1px solid red;

    width: 100%;
    //990
    margin-left: 20px; 
  }

  // .play{
  //   &:hover{
  //     opacity: 1;
  //   }
  //   &:hover svg{
  //     opacity: 1;
  //   }
  // }