@media (max-width: 989px) {
  #top-head, header{
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }
  #slider {
    height: 350px;
    max-width: 100%;
    min-width: 100%;

    video,
    .shadow,
    #controll{
      max-width: 100%;
      min-width: 100%;
      height: 350px;
    }

    .info {
      height: 350px;
      width: 93%;
      margin-left: 50px;
      .title{
        font-size: 30px;
      }
    }
  }
  .menu-wrap{
    top: 350px;
  }
  .sidebar {
    display: none;
  }
  .foto-news,#wrap-logo,.main-wrap {
    margin-left: 0;
  }
  main,.news-wrap,{//.menu-wrap{
    align-items: center;
  }
  .footer-content .partners{
    justify-content: center;
    a{
      margin: 10px;
    }
  }
  .news-menu,
  .main-news {
    width: 90%;
  }
  .foto-news-wrap, .main-wrap {
    max-width: 100%;
    min-width: 100%;
  }
  .foto-news-wrap{
    @include flex(column, center, center);
  }
}

@media (max-width: 720px) {

  // .sidebar {
  //   display: none;
  // }
  // #wrap-logo,.main-wrap {
  //   margin-left: 0;
  // }
  .banner-wrap {
    display: none;
  }
  footer{
    align-items: center;
    //height: 100%;
  }
  .footer-content .partners{
    display: none;
  }
  .news-menu,
  .main-news {
    width: 95%;
  }
  .foto-news-wrap {
        display: none;
  }
  // .main-wrap{
  //   max-width: 100%;
  //   min-width: 100%;
  // }

}

@media (max-width: 605px) {

  .sidebar {
    display: block;
    position: inherit;
    width: 100%;

    .srez{
      display: none;
    }
    .banner{
      display: none;
    }

    .content{
      background: white;
      padding: 20px 30px 0 30px;

      article  .poster{
        align-items: center;
        img{
           transform: scale(1.15);
        }
      }
    }

  }

   .main-news,
   .top-news,
   .bot-news {
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .card-top,.card-bot{
     width: 280px;
   }
  .news-card{
    align-items: center;
  }
  .card-info{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
   }
  // .foto-news-wrap {
  //       display: none;
  // }
  // .main-wrap{
  //   max-width: 100%;
  //   min-width: 100%;
  // }

}

@media (min-width: 990px) {
  //1200//1400
  #wrap-logo {
    margin-left: 20px; //40//50   /25/30/35           43/47
  }
  .main-wrap {
    margin-left: 20px; //40//50 /25/30/35             43/47
  }
  .sidebar {
    width: 250px; //300//330     /265/275/285         310/320
    top: -128px; //131//245     130 -1100             135/140
    left: 720px; //860//970    760/790/830            906/944

    .content .banner img {
      display: none;
    }
  }
  .news-menu {
    width: 680px; //790//870   /710/730/760            820/850
  }
  .main-news {
    width: 680px; //790//870   /710/730/760             820/850
  }

  .foto-news {
    width: 700px; //810//900
    margin-left: 13px; //33//43   18/23/28              36/40

    //990
    .normal {
      width: 125px;
      height: 125px;
    }
    .doublewidth {
      width: 264px;
      height: 125px;
    }
    .doubleheight {
      width: 125px;
      height: 264px;
    }
    .pull-top {
      margin-top: -132px;
    }
    .pull-left {
      margin-left: -132px;
    }
  }
  .banner-wrap {
    width: 680px; //790//870 /710/730/                820/850
  }
  .footer-content .partners {
    padding: 0 50px 0px 50px; //137//137  /60/90/120          -
  }
}

@media (min-width: 1050px) {
  #wrap-logo {
    margin-left: 25px;
  }
  .main-wrap {
    margin-left: 25px;
  }
  .sidebar {
    width: 265px;
    left: 760px;
    //top: -131px;

    .content .banner img {
      display: none;
    }
  }
  .news-menu {
    width: 710px;
  }
  .main-news {
    width: 710px;
  }

  .foto-news {
    width: 730px;
    margin-left: 18px;

    //990
    .normal {
      width: 130px;
      height: 130px;
    }
    .doublewidth {
      width: 274px;
      height: 130px;
    }
    .doubleheight {
      width: 130px;
      height: 274px;
    }
    .pull-top {
      margin-top: -137px;
    }
    .pull-left {
      margin-left: -137px;
    }
    //}
  }
  .banner-wrap {
    width: 710px;
  }
  .footer-content .partners {
    padding: 0 60px 0px 60px;
  }
}

@media (min-width: 1100px) {
  #wrap-logo {
    margin-left: 30px;
  }
  .main-wrap {
    margin-left: 30px;
  }
  .sidebar {
    width: 275px;
    left: 790px;
    // top: -131px;

    .content .banner img {
      display: none;
    }
  }
  .news-menu {
    width: 730px;
  }
  .main-news {
    width: 730px;
  }

  .foto-news {
    width: 750px;
    margin-left: 23px; //-7

    //990
    .normal {
      width: 135px;
      height: 135px;
    }
    .doublewidth {
      width: 284px;
      height: 135px;
    }
    .doubleheight {
      width: 135px;
      height: 284px;
    }
    .pull-top {
      margin-top: -142px;
    }
    .pull-left {
      margin-left: -142px;
    }
  }
  .banner-wrap {
    width: 730px;
  }
  .footer-content .partners {
    padding: 0 90px 0px 90px;
  }
}

@media (min-width: 1150px) {
  #wrap-logo {
    margin-left: 35px;
  }
  .main-wrap {
    margin-left: 35px;
  }
  .sidebar {
    width: 285px;
    left: 825px;
    top: -130px;

    .content .banner img {
      display: none;
    }
  }
  .news-menu {
    width: 760px;
  }
  .main-news {
    width: 760px;
  }

  .foto-news {
    width: 780px;
    margin-left: 28px;

    //990
    .normal {
      width: 140px;
      height: 140px;
    }
    .doublewidth {
      width: 294px;
      height: 140px;
    }
    .doubleheight {
      width: 140px;
      height: 294px;
    }
    .pull-top {
      margin-top: -147px;
    }
    .pull-left {
      margin-left: -147px;
    }
  }
  .banner-wrap {
    width: 760px;
  }
  .footer-content .partners {
    padding: 0 120px 0px 120px;
  }
}

@media (min-width: 1200px) {
  #wrap-logo {
    margin-left: 40px;
  }
  .main-wrap {
    margin-left: 40px;
  }
  .sidebar {
    width: 300px;
    left: 860px;
    top: -131px;

    .content .banner img {
      display: block;
    }
  }
  .news-menu {
    width: 790px;
  }
  .main-news {
    width: 790px;
  }

  .foto-news {
    width: 810px;
    margin-left: 33px; //-7

    //1200
    .normal {
      width: 146px;
      height: 146px;
    }
    .doublewidth {
      width: 306px;
      height: 146px;
    }
    .doubleheight {
      width: 146px;
      height: 306px;
    }
    .pull-top {
      margin-top: -153px;
    }
    .pull-left {
      margin-left: -153px;
    }
  }
  .banner-wrap {
    width: 790px;
  }
  .footer-content .partners {
    padding: 0 137px 0px 137px;
  }
}

@media (min-width: 1280px) {
  #wrap-logo {
    margin-left: 43px;
  }
  .main-wrap {
    margin-left: 43px;
  }
  .sidebar {
    width: 310px;
    left: 906px;
    top: -135px;
  }
  .news-menu {
    width: 820px;
  }
  .main-news {
    width: 820px;
  }

  .foto-news {
    width: 850px;
    margin-left: 36px;

    .normal {
      width: 152px;
      height: 152px;
    }
    .doublewidth {
      height: 152px;
      width: 318px;
    }
    .doubleheight {
      width: 152px;
      height: 318px;
    }
    .pull-top {
      margin-top: -159px;
    }
    .pull-left {
      margin-left: -159px;
    }
  }
  .banner-wrap {
    width: 820px;
  }
}

@media (min-width: 1340px) {
  #wrap-logo {
    margin-left: 47px;
  }
  .main-wrap {
    margin-left: 47px;
  }
  .sidebar {
    width: 320px;
    left: 944px;
    top: -140px;
  }
  .news-menu {
    width: 850px;
  }
  .main-news {
    width: 850px;
  }

  .foto-news {
    width: 870px;
    margin-left: 40px;

    .normal {
      width: 158px;
      height: 158px;
    }
    .doublewidth {
      height: 158px;
      width: 328px;
    }
    .doubleheight {
      width: 158px;
      height: 328px;
    }
    .pull-top {
      margin-top: -165px;
    }
    .pull-left {
      margin-left: -165px;
    }
  }
  .banner-wrap {
    width: 850px;
  }
}

@media (min-width: 1400px) {
  #wrap-logo {
    margin-left: 50px;
  }
  .main-wrap {
    margin-left: 50px;
  }
  .sidebar {
    width: 330px;
    left: 970px;
    top: -245px;

    .content .banner img {
      display: block;
    }
  }
  .news-menu {
    width: 870px;
  }
  .main-news {
    width: 870px;
  }

  .foto-news {
    width: 870px;
    margin-left: 43px; //-7

    //14000
    .normal {
      width: 160px;
      height: 160px;
    }
    .doublewidth {
      height: 160px;
      width: 334px;
    }
    .doubleheight {
      width: 160px;
      height: 334px;
    }
    .pull-top {
      margin-top: -167px;
    }
    .pull-left {
      margin-left: -167px;
    }
  }
  .banner-wrap {
    width: 870px;
  }
  .footer-content .partners {
    padding: 0 137px 0px 137px;
  }
}

@media (min-width: 1401px) {
  #wrap-logo {
    margin-left: 50px;
  }
  main {
    align-items: center;
  }
  .foto-wrap {
    justify-content: center;
  }
  .main-wrap {
    margin-left: 0;
    padding-left: 50px;
    position: relative;
  }

  .sidebar {
    width: 330px;
    left: 970px;
    top: -245px;

    .content .banner img {
      display: block;
    }
  }
  .news-menu {
    width: 870px;
  }
  .main-news {
    width: 870px;
    margin: 0;
  }

  .foto-news {
    width: 900px;
    margin-left: 43px; //-7

    article {
      //  width: 163px;
      //  height: 163px;
    }
  }
  .banner-wrap {
    width: 870px;
  }
  .footer-content .partners {
    padding: 0 137px 0px 137px;
  }
}
