@mixin font($font-name, $woff2, $woff, $ttf, $eot, $otf){
   @font-face {
      src:  url($woff2) format('woff2'),
            url($woff) format('woff'),
            url($ttf) format('ttf'),  
            url($eot) format('eot'),
            url($otf) format('opentype');
      font: {
         family: $font-name;
         style: normal;
         weight: normal;
      }
   }
}

@mixin flex($direction: row, $justify-content: flex-start, $align-items: flex-start){
   display: flex;
   flex-direction: $direction;
   justify-content: $justify-content;
   align-items: $align-items;
}