@mixin font($font-name, $font-url){
   @font-face {
      src: url($font-url) format('opentype');
      font: {
         family: $font-name;
         style: normal;
         weight: normal;
      }
   }
}

// @mixin icon($url-icon, $width-icon, $height-icon) {
//    background: url($url-icon) no-repeat center center;
//    width: $width-icon;
//    height: $height-icon;
// }

@mixin flex($direction: row, $justify-content: flex-start, $align-items: flex-start){
   display: flex;
   flex-direction: $direction;
   justify-content: $justify-content;
   align-items: $align-items;
}