.share {
  @include flex(row, center, flex-start);

  display: none;

  .window {
    @include flex(column, flex-start, flex-start);

    position: relative;
    height: 476px;
    width: 640px;
    margin-top: 50px;
    background: white;

    img {
      width: 100%;
      height: 312px;
      border: none;
    }

    .description {
      @include flex(column, center, flex-start);

      width: 100%;
      height: 118px;
      border-bottom: 1px solid rgb(204, 204, 204);
      padding-left: 29px;
      font-size: 14px;

      h1 {
        font-size: 18px;
        margin-bottom: 3px;
      }

      p {
        margin-bottom: 5px;
      }

      span {
        color: rgb(204, 204, 204);
      }
    }

    .links {
      @include flex(row, space-between, center);

      width: 203px;
      height: 45px;
      margin-left: 33px;

      svg {
        fill: rgb(204, 204, 204);
      }

      a{
        @include flex(row, center, center);

        height: 100%;
        width: 100%;
      }

      @each $name-icon, $icon-color in $icon-hover-colors {
        .#{$name-icon}:hover svg {
          fill: $icon-color;
        }
      }
    }
  }
}



#close {
  cursor: pointer;
  position: absolute;

  left: 95%;
  top: 13px;

  &:hover {
      fill: red;
  }
}
