// .sidebar-wrap {
//   // @include flex(row, flex-end, stretch);

//   //border: 1px solid green;
//   position: absolute;
//   top: -250px;
//   left: 68%;
//   height: 111%;
//   overflow: auto;
//   //width: 90%;

//   //align-self: flex-end !important;
//   //float: right;
//   //transform: translateX(220%);
// }

.sidebar {
  z-index: 1;
  width: 330px;
  height: 100%;
  ///////

  // @include flex(row, flex-end, stretch);

  //border: 1px solid green;
  position: absolute;
  //text-align: left;
  top: -250px;
  left: 68%;

  //height: 110%;

  //margin-bottom: 20px;
  //overflow: auto;

  h2 {
    margin-left: 40px;
    width: 100%;
    text-align: left;
  }
  ////////////
  button {
    width: 100%;

    height: 100%;
    //height: 56px;
    color: #4d4d45;
    outline: 0;

    font: {
      family: $regular;
      size: 16px;
    }

    //border: 1px solid black;
    svg {
      position: relative;
      top: 1px;
      left: 10px;
      fill: #d9d9d2;
    }

    &:hover {
      background: #e6e6df;
      svg {
        fill: #4d4d45;
      }
    }

    // &:focus {
    //    border-color: #66afe9;
    // }
  }

  .srez {
    width: 100%;
    border-bottom: 20px solid #f2f2eb;
    border-right: 20px solid transparent;
  }

  .content {
    width: 100%;
    height: 100%;
    background: #f2f2eb;
    border-bottom: 1px solid #e6e6df;
    @include flex(column, flex-start, center);
    //padding: 0 20px 0px 20px;

    .banner img {
      width: 300px;
      height: 250px;
    }

    article {
      width: 290px;
      border-bottom: 1px solid #e6e6df;
      //padding: 15px 20px 0px 20px;

      h4 {
        font-weight: normal;
        margin: 13px 0 13px 0;
        a {
          color: black;
        }
      }
      .poster {
        @include flex(column, flex-start, flex-start);
        //position: relative;
        margin-top: 10px;
        width: 290px;
        height: 115px;
        overflow: hidden;

        img {
          transition: all .5s ease-out;

          &:hover {
            transform: scale(1.1);
          }
        }
        // svg{
        //   position: absolute;
        // }
      }
      .time {
        font-size: 12px;
        margin-bottom: 12px;
        color: #bfbfac;
      }
    }
  }
}


// .sidebar-item{
//   position: relative;
// }
#slidebar-play {
  position: absolute;
  //top: -10px;
  //left: -20px;
  background: red;
  z-index: 20;
}
