.menu-wrap {
  @include flex(row, space-between, center);
  @extend %max-min-width;
  
  background: #edede6;
  border-bottom: 1px solid #e6e6df;

  width: 100%;
  position: absolute;
  z-index: 1;
  top: 400px;

  #nav-right  svg {
      fill: black;
  }
}

.top-menu-fixed {
  position: fixed;
  z-index: 2;
  top: 50px;
  width: 100%;
}

#wrap-logo {
  margin-left: 20px;
}

#top-menu {
  @include flex(row, flex-start, center);

  height: 50px;

  .logo {
    padding: 0 5px 0 5px;

    svg {
      fill: white;
    }
  }

  a {
    color: black;
  }

  button,
  a {
    @include flex(row, center, center);

    font-family: $regular;
    font-size: 16px;
    padding: 0 9px 0 9px;
    height: 50px;

    &:nth-child(5){
      width: 106px;
    }
  }

  button {
    width: 135px;
    position: relative;
    align-items: flex-start;
    color: #888;

    &:hover {
      background: #bfbfb4;  
      color: white;
      
      #drop-menu{
        display: flex;
      }

      svg{
        fill: white;
      }
    }

    svg {
      position: relative;
      top: 1px;
      margin-right: 6px;
      fill: #888;
    }
  }
}

@each $number, $item-color in $top-menu-colors {
  #top-menu a:nth-child(#{$number}):hover {
    background: $item-color;
    color: white;
  }
}
