.menu-wrap {
  @include flex(row, space-between, center);

  background: #edede6;
  border-bottom: 1px solid #e6e6df;

  max-width: 1400px;
  min-width: 990px;

  width: 100%;

  position: absolute;
  // opacity: 1 !important;
  top: 400px;

  #nav-right {
    width: 420px;

    svg {
      fill: black;
    }
    //    form:hover input {
    //       margin-right: 5px;
    //    }
  }
}
  #wrap-logo {
    //width: 20px;
    margin-left: 20px;
    //   height: 50px;
    //   width: 50px;
  }
#top-menu {
  //transition: 0.5s;
  @include flex(row, center, center);
  //border: 1px solid red;
  border: 1px solid red;
  //margin-left: 20px;

  //990px
  //width: 680px;

  //max-width: 1400px;
  //min-width: 990px;

  //width: 970px;
  //width: 64%;
  height: 50px;

  //padding: 0 50px 0 50px;
  //padding-left: 50px;

  //position: absolute;
  // align-self: flex-start;

  .logo {
    //      //background: red;
    //      //height: 46px;
    padding: 0 5px 0 5px !important;
    svg {
      fill: white;
    }
  }
  a {
    color: black;
  }

  button,
  a {
    @include flex(row, center, center);

    font-family: $regular;
    font-size: 16px;

    //990
    padding: 0 10px 0 10px;
    height: 50px;

    //border: 1px solid green;
  }
  button {
    padding: 0 20px 0 10px;
    svg {
      position: relative;
      top: -2px;
      margin-right: 6px;
      fill: #888;
    }
  }
}

@each $number, $item-color in $top-menu-colors {
  #top-menu a:nth-child(#{$number}):hover {
    background: $item-color;
    color: white;
  }
}

////scroooolll
// .top-menu * {
//    background: transparent !important;
// }
// .top-menu .logo{
//    background: red !important;
// }
