// $primary-font: 'Regular', sans-serif;
// $secondary-font: 'Light', sans-serif;
// $bold-font: 'Bold', sans-serif;

// $background: url("../img/background.jpg") center fixed;

// $primary-color: #ffffff;
// $secondary-color: #000000;

      $icon-hover-colors: (
         vk: rgb(92, 109, 140),
         facebook: rgb(90, 106, 161),
         twitter: rgb(108, 173, 227),
         odnoklasniki: rgb(235, 114, 46),
         google: rgb(227, 117, 99)
      );



