// $primary-font: 'Regular', sans-serif;
// $secondary-font: 'Light', sans-serif;
// $bold-font: 'Bold', sans-serif;

// $background: url("../img/background.jpg") center fixed;

// $primary-color: #ffffff;
// $secondary-color: #000000;

      $icon-hover-colors: (
         vk: rgb(92, 109, 140),
         facebook: rgb(90, 106, 161),
         twitter: rgb(108, 173, 227),
         odnoklasniki: rgb(235, 114, 46),
         google: rgb(227, 117, 99)
      );

//obichniy
$regular: 'MyriadPro-Regular', sans-serif;

//poluzhirniy
$semibold: 'MyriadPro-Semibold', sans-serif;

//zhirniy
$bold-font: 'MyriadPro-Bold', sans-serif;

//splusheniy
$cond: 'MyriadPro-Cond', sans-serif;
$bold-cond: 'MyriadPro-BoldCond', sans-serif;

//kosoy
$condIt: 'MyriadPro-CondIt', sans-serif;
$bold-condIt: 'MyriadPro-BoldCondIt', sans-serif;
$boldIt: 'MyriadPro-BoldIt', sans-serif;
$it: 'MyriadPro-It', sans-serif;
$semiboldIt: 'MyriadPro-SemiboldIt', sans-serif;


